<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acando.newshunter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:name="com.acando.newshunter.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.acando.newshunter.internal.ListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.acando.newshunter.internal.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <receiver android:name="com.acando.newshunter.widget.WidgetProvider" >
            <intent-filter>

                <!-- This widget provider receives broadcast with following action name or simply onUpdate of AppWidgetProvider is called -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- To receive broadcast with this string name -->
                <action android:name="com.wordpress.laaptu.DATA_FETCHED" />
                <action android:name="com.wordpress.laaptu.EXTRA_LIST_VIEW_ITEM_URL" />
                <action android:name="com.wordpress.laaptu.UPDATE_FORCE" />
            </intent-filter>
            <!-- linking up xml file of appwidget-provider to AppWidgetProvider -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_meta" />
        </receiver>

        <service
            android:name="com.acando.newshunter.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name="com.acando.newshunter.widget.ConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name="com.acando.newshunter.widget.RemoteFetchService" />

    </application>

</manifest>